#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh  $@

override_dh_install:
	dh_install
	rm -rf debian/tangaza/usr/lib/tangaza/django/tangaza/media/
	rm -rf debian/tangaza/usr/lib/tangaza/django/tangaza/doc/
	rm -rf debian/tangaza/usr/lib/tangaza/agi-bin/Nokia/Tangaza/perl_docCommon
	rm -rf debian/tangaza/usr/lib/tangaza/agi-bin/Nokia/Tangaza/perl_docTangaza
	rm -rf debian/tangaza/usr/lib/tangaza/agi-bin/Nokia/Common/.git/
	rm debian/tangaza/usr/lib/tangaza/django/tangaza/.gitignore
	rm debian/tangaza/usr/lib/tangaza/django/tangaza/LICENSE
	rm debian/tangaza/usr/share/tangaza/doc/_build/html/_static/jquery.js

.PHONY: override_dh_install
